.App {
  text-align: center;
  border: 2px black solid;
  width: 400px;
  height: 400px;
  margin: 20px auto;
  background-color: rgb(105, 121, 184);
  border-radius: 50px;
  box-shadow: 0 0 5px 3px;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 2px white solid;
  margin: 30px auto;
  font-size: 45px;
}
.button1 {
  border-radius: 50px;
  border: 2px white solid;
  width: 100px;
  height: 100px;
  margin: auto;
  font-size: 40px;
  cursor: pointer;
}
.button1:hover {
  background: rgb(135, 150, 213);
  cursor: pointer;
}
.coold {
  background-color: rgb(0, 42, 255);
}
.hot {
  background-color: rgb(249, 104, 0);
}
.norm {
  background-color: #f3f99a;
}
.flexk {
  display: flex;
  flex-direction: row;
  width: 300px;
  margin: auto;
}
